#worldmap {
    position: absolute;
    width: 100%;
    height: 100%;
}

#worldmap-container {
    position: relative;
    width: 50%;
    height: 100%;
    margin: auto;
}

.land.visited {
    fill: blue;
}

.land {
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 0.5;
}

#top_row {
    height: 75%;
    border: 1px solid;
}

#bottom_row {
    height: 25%;
    border: 1px solid;
}